<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dév indés</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #f8f9fa;
        padding: 1rem;
        text-align: center;
      }
      main {
        padding: 1rem;
      }
      footer {
        background-color: #f8f9fa;
        padding: 1rem;
        text-align: center;
      }

      .container {
        margin: 0 auto;
      }
    </style>
  </head>
  <body class="container" style="max-width: 1000px">
    <header>
      <h1>Dev Indés</h1>
      <p>
        Partage ta dernière expérience et aide les autres développeurs
        indépendants indépendants.
      </p>
      <p>
        Consulte les expériences d'autres développeurs pour t'aider à formuler
        ton devis.
      </p>
    </header>
    <main>{% block content %} {% endblock content %}</main>
    <footer>
      <p>Fait rapidement par <a href="#">Nico</a>.</p>
      <p>Contacte-moi pour des suggestions d'améliorations.</p>
    </footer>
  </body>
</html>
